.filters-content .react-rater {
  font-size: 30px !important;
}

.rc-slider-track{
    background-color: orange !important
}

.rc-slider-handle{
	border-radius: 50% !important ;
	border : solid 2px chocolate !important ;

}


.rc-slider-handle:active{
	border-color: chocolate !important ;
	box-shadow: 0 0 5px #57c5f7 !important ;

}

/*.filters-content .hotelFilters{
	background: #fff;
}


.react-rater {
	padding: 10px;
  font-size: 30px !important;
  color: blue;
  text-align: center;
}

.filters-content .react-rater-star.is-active {
  color: #5191E0 !important;
}

.filters-content .react-rater-star.will-be-active {
  color: #5191E0 !important;
}

.filters-content .star-filters-label {
	font-size: 18px;
	text-align: left !important;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e5ea;
}

.filters-content .padding_10 {
	padding: 10px;
}

.filters-content .padding_horizontal_10 {
	padding-top: 40px!important;
}

.filters-content .move_bottom_20 {
	padding-top: 20px;
}*/
