.flight-checkout-booking {

}

.flight-checkout-booking .travelers-info {
    margin-bottom: 15px;
}

.flight-checkout-booking .travelers-info .traveler-row {

}

.flight-checkout-booking .travelers-info .form-group {
    margin-bottom: 0px;
}

.flight-checkout-booking .contact-info {

}

.flight-checkout-booking .contact-info .form-group:last-child {
    margin-bottom: 0px;
}