
.hotel-checkout-booking {

}



.hotel-checkout-booking .body-single-data-content:last-child {
    margin-bottom: 0px;
}


.hotel-checkout-booking .body-single-data-content {
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.hotel-checkout-booking .body-single-data-content .booking-info-data-element {

}



/*

.checkout-panel .checkout-panel-body .car-panel-body-content .checkout-panel-body-content-data{
    text-align: center;

}


.checkout-panel .checkout-panel-body .car-panel-body-content .body-single-data-content .data-div .input-field{
    border: 0px;
    border-bottom: 1px solid #d8d8d8;

    line-height: 18px;
    padding-bottom: 3px;
    outline: none;
    font-size: 14px ;
    color : darkcyan;
    font-weight: normal
}


.checkout-panel .checkout-panel-body .car-panel-body-content .body-single-data-content .data-div {
    padding-left: 0px
}


.checkout-panel .checkout-panel-body .car-panel-body-content .body-single-data-content .data-div p{
    font-size: 10px ;
    margin-bottom: 5px ;
}


.checkout-panel .checkout-panel-body .car-panel-body-content .body-single-data-content{
    margin-bottom: 15px ;

}



.checkout-panel .checkout-panel-body .car-panel-body-content .body-single-data-content .body-single-data-content-glyph{
    height: 40px;
    padding-top: 20px
}

.checkout-panel .checkout-panel-body .car-panel-body-content .body-single-data-content .body-single-data-content-glyph a {
    font-size: 15px
}






.checkout-panel .checkout-panel-body .car-panel-body-content .checkout-panel-body-content-data .map-content .line-map{
    width: 130px ;
    border-top: dashed 1px #cacaca;
    margin-top: 4px ;
    float: left
}

.checkout-panel .checkout-panel-body .car-panel-body-content .checkout-panel-body-content-data .map-content p{
    margin-top: 10px ;

}





.checkout-panel .checkout-panel-body .car-panel-body-content .checkout-panel-body-content-data .from-date{
    color: darkgray;
    font-size: 11px;
}

.checkout-panel .checkout-panel-body .car-panel-body-content .checkout-panel-body-content-data .from-city{
    color: darkcyan;
    font-size: 17px;
}






<div className="row car-panel-body-content">

                <div className="body-single-data-content col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div className=" body-single-data-content-glyph col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a><i className="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div className="col-lg-10 col-md-10 col-sm-10 col-xs-10 data-div">
                        <p>FIRST NAME</p>
                        <input type="text" onChange={this.getFname.bind(this)} className="input-field"/>
                    </div>
                </div>


                <div className="body-single-data-content col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div className="body-single-data-content-glyph col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a><i className="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div className="col-lg-10 col-md-10 col-sm-10 col-xs-10 data-div">
                        <p>LAST NAME</p>
                        <input type="text" onChange={this.getLname.bind(this)}  className="input-field"/>
                    </div>
                </div>


                <div className="body-single-data-content col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div className="body-single-data-content-glyph col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a><i className="fa fa-mobile fa-lg" aria-hidden="true"></i></a>
                    </div>
                    <div className="col-lg-10 col-md-10 col-sm-10 col-xs-10 data-div">
                        <p>PHONE NUMBER</p>
                        <input type="text" onChange={this.getPhone.bind(this)}  className="input-field"/>
                    </div>
                </div>



                <div className="body-single-data-content col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div className="body-single-data-content-glyph col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a ><i className="fa fa-envelope-o" aria-hidden="true"></i></a>
                    </div>
                    <div className="col-lg-10 col-md-10 col-sm-10 col-xs-10 data-div">
                        <p>EMAIL</p>
                        <input type="text" onChange={this.getEmail.bind(this)}  className="input-field"/>
                    </div>
                </div>

                <div className="body-single-data-content col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div className="body-single-data-content-glyph col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a ><i className="fa fa-id-card" aria-hidden="true"></i></a>
                    </div>
                    <div className="col-lg-10 col-md-10 col-sm-10 col-xs-10 data-div">
                        <p>LICENSE #</p>
                        <input type="text" onChange={this.getLicense.bind(this)}  className="input-field"/>
                    </div>
                </div>



            </div>*/
