

 .checkout-panel {
    background: #fff;
    margin-bottom: 15px;
}

 .checkout-panel .checkout-panel-title {
    padding: 15px;
    border-bottom: 1px solid #e4e5ea;
}

.checkout-panel .checkout-panel-title p {
    margin: 0px;
    font-size: 16px;
}

.checkout-panel .checkout-panel-body {
    padding: 15px;
    border-bottom: 1px solid #e4e5ea;
}




.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data{
    text-align: center;
    padding-top: 10px ;
}

.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-head{
   margin-bottom: 15px
}




.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-heading{
    margin-left: 26px ;
    margin-bottom: 20px ; 
}


.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-heading-city {
    padding-right: 20px

}



.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-head .carProperty{
    font-size: 10px ; 
    color: lightgrey
}

.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-head .carName{
    margin-left: 17px
}

.checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-city .city{
    margin-left: 17px
}


.checkout-panel .checkout-panel-body .checkout-panel-body-content .body-single-data-content .data-div .input-field{
   border: 0px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 6px;
    outline: none;
}


.checkout-panel .checkout-panel-body .checkout-panel-body-content .body-single-data-content .data-div {
   padding-left: 0px
}


 .checkout-panel .checkout-panel-body .checkout-panel-body-content .body-single-data-content .data-div p{
    font-size: 10px ;
    margin-bottom: 0px
}


 .checkout-panel .checkout-panel-body .checkout-panel-body-content .body-single-data-content{
    margin-bottom: 15px ;

}



 .checkout-panel .checkout-panel-body .checkout-panel-body-content .body-single-data-content .body-single-data-content-glyph{
   height: 40px;
   padding-top: 20px
}

 .checkout-panel .checkout-panel-body .checkout-panel-body-content .body-single-data-content .body-single-data-content-glyph a {
   font-size: 15px
}



 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data .map-content .green-dot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-sizing: border-box;
    background: lightgreen;
    border: 1px solid #b7b7b7;
    float: left
}

 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data .map-content .blue-dot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-sizing: border-box;
    background: white;
    border: 1px solid #b7b7b7;
    float: left
}


 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data .map-content .line-map{
    width: 130px ; 
    border-top: dashed 1px #cacaca;
    margin-top: 4px ; 
    float: left
}

 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data .map-content p{
    margin-top: 10px ; 
    
}





 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data .from-date{
    color: darkgray;
    font-size: 11px;
    margin-top: 6px
}

 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-data .from-city{
    color: darkcyan;
    font-size: 17px;
}

 .checkout-panel .checkout-panel-body .checkout-panel-body-content .checkout-panel-body-content-image .carImage{
    max-height:  52px ;
    max-width:  135px
}


