.roomType-container {
  margin-top: 20px;
}

.roomType-container .roomType-label {
  font-size: 13px;
  font-weight: 500;
  color: #5191E0;
}

.roomType-container .roomType-price {
  font-size: 13px;
  padding-left: 10px;
}

.no-padding {
  padding: 0px !important;
}
