.singleCarComponent .mainRowDiv .dataDiv{
	line-height: 2.5 ;
}


.singleCarComponent .mainRowDiv{
	border-bottom: 1px solid #F0F0F0;
	margin-top: 15px
}

.carDeleteBody{
	color : red ;
	text-align:  center;
	
}


.sharpButton{
	border-radius: 0
}

