.singleCarComponent .mainRowDiv .dataDiv{
	line-height: 2.5 ;
}


.singleCarComponent .mainRowDiv{
	border-bottom: 1px solid #F0F0F0;
	margin: 0px;
	margin-top: 15px
}

.carDeleteBody{
	color : red ;
	text-align:  center;
	
}


.sharpButton{
	border-radius: 0
}

.singleCarComponent .mainRowDiv  .buttonGroup .updateFontAwesome{
	margin-right: 40px;
	color : mediumblue;
}


.singleCarComponent .mainRowDiv  .buttonGroup .redIcon{
	color : red;
}

 .scrollDiv{
	max-height: 600px ;
	overflow-y: scroll;
}

 .UpdatedDate{
	color :red;
	margin-left: 15px
}