.modal-dialog {
	top: 15px;
	bottom: 15px;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	position: absolute;
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-body {
    overflow-y: auto;
    flex: 1;
}

.modal-footer {
    flex: none;
}

.foo {
	outline: 1px solid orange;

}

.div-color{
	background-color: #fafafa
}

.car-content{
	margin-top: 15px
}

.car-content .addButtonDiv{

}

.padd15{
	padding: 15px
}



.marginBottom15{
	margin-bottom: 15px
}

.col-xs-offset-right-2 {
	margin-right: 16.66666667%;

}

.car-content .addButtonDiv .addButton{

	border: none;
	text-decoration: none ;
	border-radius: 0px;
	height: 34px;
	background-color: #ff690f;
}

.carAddErrorText{
	color: red
}


.singleCarComponent .mainRowDiv .dataDiv{
	line-height: 1.5 ;


}


.headerDiv{
	border-bottom: 1px solid #F0F0F0;
	height :40px;
}

.outline{
	outline: 1px solid orange;
}

.listHeader{
	border-bottom: 1px solid #F0F0F0;
	margin: 0px;
	margin-top: 15px ;
	text-align: left;
}

.sharpCornerForInfoButton{
	border-radius : 0 ;
}

.sharpCorner{
	border-radius : 0 ;
	padding: 15px ;
	box-shadow : 1px 1px 1px 1px linen
}

.lable-margin{
	margin-right: 15px
}




.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
	margin-left:2px;
}