.singleCustomerComponent .mainRowDiv .dataDiv{
	line-height: 2.5 ;
}


.singleCustomerComponent .mainRowDiv{
	border-bottom: 1px solid #F0F0F0;
	margin: 0px;
	margin-top: 15px
}

.customerDeleteBody{
	color : red ;
	text-align:  center;
	
}


.sharpButton{
	border-radius: 0
}

.singleCustomerComponent .mainRowDiv  .buttonGroup .updateFontAwesome{
	margin-right: 40px;
	color : mediumblue;
}


.singleCustomerComponent .mainRowDiv  .buttonGroup .redIcon{
	color : red;
}

 .scrollDiv{
	max-height: 600px ;
	overflow-y: scroll;
	margin-top: 20px
}

.sharpCornerForInfoButton{
		border-radius : 0 ;
}

 .UpdatedDate{
	color :red;
	margin-left: 15px
}