/*GLOBAL*/

body {
  font-size: 13px;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #3d464d;
}

#root {
	height: 100%;
}

.page-wrapper {
	height: 100%;
}

.btn-kayak {
    color: #fff;
    background: #ff690f;
    background-image: linear-gradient(135deg,#ff690f 0%,#ff4f3a 100%);
    border: none;
    text-decoration: none;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.04);
    border-radius: 0px;
    height: 34px;
}

.btn-kayak:hover {
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
    background: #d15500;
}

.btn-kayak:active {
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
    background: #d15500;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.btn-kayak:focus {
    outline: none;
    box-shadow: none;
}

.btn-kayak:active:focus {
    outline: none;
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
    background: #d15500;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.btn-kayak:active:hover {
    outline: none;
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
    background: #d15500;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.btn-kayak-default {
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
}

.btn-kayak-default:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}

.btn-kayak-default:active {
    background: none;
    border: 1px solid #adadad;
}

.btn-kayak-default:active:focus {
    background: none;
}

input, select {
	box-shadow: none !important;
    border-radius: 0px !important;
    font-weight: normal;
}

input:focus, select:focus, .form-control:focus {
    border-color: #ff690f !important;
    box-shadow: none;
}

.error {
  color: #e82110;
  font-size: 12px;
  float: left;
}

.react-autocomplete .menu {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9;
}


.react-autocomplete .menu .item {
    padding: 15px 12px;
    cursor: pointer;
    background-color: #fff;
}

.react-autocomplete .menu .item p {
    margin: 0px;
}

.react-autocomplete .menu .item.item-highlighted {
    color: white;
    background-color: #ff690f;
}