.profile-panel-body .credit-card-div{
	padding: 15px 0px 0px;
	border-bottom: 1px solid #ccc

}

.profile-panel-body .credit-card-div label{
	font-weight: normal
}

.profile-panel-body .credit-card-div a{
	color : #ff690f;
}


.profile-panel-body .credit-card-div span{
	margin-right: 20px
}
