.form-container .form-body .fields-col .field-container.source {
	width: 22%;
}

.form-container .form-body .fields-col .field-container.source input {

}

.form-container .form-body .fields-col .field-container.destination {
	width: 22%;
}

.form-container .form-body .fields-col .field-container.destination input {
	
}

.form-container .form-body .fields-col .field-container.dates {
	width: 31%;
}

.form-container .form-body .fields-col .field-container.dates input {
	
}

.form-container .form-body .fields-col .field-container.travelers {
	width: 25%;
}

.form-container .form-body .fields-col .field-container.travelers input {
	
}