.successModal {
  margin-top: 50px;
}
.successModal .orange {
  color: #ff690f;
}

.successModal .success-congrats {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.successModal .booking-successfull {
  text-align: center;
  margin-top: 20px;
}

.successModal .success-header {
  background-color: #292b2c;
  border-radius: 2px;
}


.home-button-close{
	width : 100px;
}

.div-success-footer{
	text-align: center;
	width: 100%
}