.sidebar-panel {
  width: 240px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  background: #F7F9FA;
  z-index: 6;
}

.sidebar-panel .sidebar-panel-container {
  position: absolute;
  top: 0;
  bottom: 0px;
  padding: 40px 40px 0 40px;
  width: 100%;
}

.sidebar-panel .sidebar-panel-container .logo-container {
  margin-bottom: 30px;
}

.sidebar-panel .sidebar-panel-container .logo-container .logo-icon {
  width: 100%;
  height: 30px;
}

.sidebar-panel .sidebar-panel-container .nav-container {
  
}

.sidebar-panel .sidebar-panel-container .nav-container ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidebar-panel .sidebar-panel-container .nav-container ul li {
  height: 40px;
  padding: 12px 0px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.8);
  margin-bottom: 15px;
}

.sidebar-panel .sidebar-panel-container .nav-container ul li a {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #333;
}

.sidebar-panel .sidebar-panel-container .nav-container ul li a:hover {
  opacity: .8;
}

.sidebar-panel .sidebar-panel-container .nav-container ul li a.active {
  color: #ff690f;
}