.form-container .form-body .fields-col .field-container.location {
	width: 30.5%;
}

.form-container .form-body .fields-col .field-container.location input {

}

.form-container .form-body .fields-col .field-container.date {
	width: 30.5%;
}

.form-container .form-body .fields-col .field-container.date input {

}

.form-container .form-body .fields-col .field-container.guests {
	width: 25%;
}

.form-container .form-body .fields-col .field-container.guests input {

}
