.form-container.hotel-search-form-container .form-body .fields-col .field-container.location {
	width: 30%;
}

.form-container.hotel-search-form-container .form-body .fields-col .field-container.location input {

}

.form-container.hotel-search-form-container .form-body .fields-col .field-container.date {
	width: 25%;
	position: relative;
}

.form-container.hotel-search-form-container .form-body .fields-col .field-container.date input {

}

.form-container.hotel-search-form-container .form-body .fields-col .field-container.guests {
	width: 20%;
}

.form-container.hotel-search-form-container .form-body .fields-col .field-container.guests input {

}
