.checkout-panel .checkout-panel-body .hotel-panel-body-content{
    padding-bottom: 0px
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .content-name{
    padding-bottom: 10px;
    width: 100%
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .hotelName {
  font-size: 18px;
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .checkout-panel-body-content-head .hotelProperty{
    font-size: 12px ;
    color: darkgrey
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .checkout-panel-body-content-image .hotelImage{
    width:  100px;
    height:  auto;
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .detail-label{
    font-size: 15px;
    padding: 2px;
    margin-bottom: 6px;
    border-bottom: 1px solid lightgrey;
}


.checkout-panel .checkout-panel-body .hotel-panel-body-content .checkout-panel-body-content-data .check-in-container{
  padding-bottom: 10px;
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .checkout-panel-body-content-data .detail-data{
  font-weight: lighter;
}

.checkout-panel .checkout-panel-body .hotel-panel-body-content .checkout-panel-body-content-data .room-type-container{
  padding-bottom: 10px;
}
