
#authModal {

}

#authModal .modal-dialog {
    width: 420px;
}

#authModal .modal-dialog .modal-content {
    border: 0px;
    border-radius: 0px;
}

#authModal .modal-dialog .modal-content .modal-body {
    padding: 60px 80px;
}

#authModal .modal-dialog .modal-content .modal-body .form-body .form-group {
    margin-bottom: 30px;
}

#authModal .modal-dialog .modal-content .modal-body .form-group.btn-container {
    margin-bottom: 0px;
}

#authModal .modal-dialog .modal-content .modal-body .form-group.btn-container .btn-kayak {
    width: 100%;
}

#authModal .modal-dialog .modal-content .modal-footer {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e5;
    color: #8b8b8e;
}

#authModal .modal-dialog .modal-content .modal-footer .btn-kayak {
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    color: #8b8b8e;
    background-image: none;
    margin-left: 15px;
}