.banner-section {
	height: 100vh;
	position: relative;
}

.banner-section .bg-wrapper {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/images/banner-bg.jpg');
}

.banner-section .bg-overlay {
	position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner-section .bg-overlay:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background-color: rgba(0,0,0,0.55);*/
}

.banner-section .bg-overlay .bg-overlay-content {
	width: 80%;
	margin: 0px auto;
	padding: 100px 0px 50px;
	position: relative;
}

.banner-section .bg-overlay .bg-overlay-content .title-section {
	text-align: center;
}

.banner-section .bg-overlay .bg-overlay-content .title-section h2 {
	margin: 0px;
	line-height: 100px;
	color: #fff;
}

.banner-section .bg-overlay .bg-overlay-content .nav-section {
	text-align: center;
}

.banner-section .bg-overlay .bg-overlay-content .nav-section .nav {
	list-style: none;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-section .bg-overlay .bg-overlay-content .nav-section .nav .nav-item {
	margin: 0px 2px;
}

.banner-section .bg-overlay .bg-overlay-content .nav-section .nav .nav-item a {
	background: #fff;
	color: #333;
	text-transform: uppercase;
	min-width: 15rem;
	font-size: 12px;
}

.banner-section .bg-overlay .bg-overlay-content .nav-section .nav .nav-item a:hover, .banner-section .bg-overlay .bg-overlay-content .nav-section .nav .nav-item a:focus {
	outline: none;
	text-decoration: none;
}

.banner-section .bg-overlay .bg-overlay-content .nav-section .nav .nav-item a.active {
	color: #ff690f;
}

.banner-section .bg-overlay .bg-overlay-content .form-section {
	background: #e4e5ea;
	min-height: 200px;
	padding: 15px 30px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container {
	padding-top: 25px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body {

}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .fields-col {
	display: flex;
    flex-wrap: wrap;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .fields-col .field-container {
	padding-right: 5px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .fields-col .field-container label {
	margin-bottom: 0px;
	line-height: 25px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .fields-col .field-container .form-control {
	height: 64px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .fields-col .field-container .form-control[readonly] {
    background: #fff;
    cursor: pointer;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .button-col {
	float: right;
	margin-top: 25px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .button-col .btn-kayak {
	height: 64px;
	width: 64px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .footer-row {
    margin-top: 15px;
    line-height: 25px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .footer-row label {
    margin: 0px;
    margin-right: 15px;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .footer-row .radio-options {
    display: inline-block;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .footer-row .radio-options .radio-inline {
   vertical-align: inherit;
}

.banner-section .bg-overlay .bg-overlay-content .form-section .form-container .form-body .footer-row .radio-options .radio-inline input[type=radio] {
    margin: 6px 0 0;
    margin-left: -20px;
}