.profile-page-wrapper {
	padding: 0px 80px 0px 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.profile-page-wrapper .profile-page-header {
	
	border-bottom: 1px solid rgba(51, 51, 51, 0.8);
}

.outline {
	 outline: 1px solid orange;
}

.RowDiv {
	border-bottom: 1px solid #F0F0F0;
	margin: 0px;
	margin-top: 20px;
	font-size: 115%;	
	padding: 0px 0px 0px 0px;
} 

.RowDiv .RowData {
	padding: 0px 0px 0px 0px;	
}

.profile-modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-align: center; */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.MoadalRow {
	margin-top: 10px;
}


.profile-modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.profile-modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}

.profile-modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #eceeef;
}