/*GLOBAL*/

body {
    font-size: 13px;
    background: #e4e5ea;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 600;
}

#root {
    height: 100%;
}

.page-wrapper {
    height: 100%;
}

.btn-kayak {
    color: #fff;
    background: #ff690f;
    background-image: linear-gradient(135deg,#ff690f 0%,#ff4f3a 100%);
    border: none;
    text-decoration: none;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.04);
    border-radius: 0px;
    height: 34px;
}

.btn-kayak:hover {
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
}

.btn-kayak:active {
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
    background: #d15500;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.btn-kayak:focus {
    outline: none;
    box-shadow: none;
}

.btn-kayak:active:focus {
    outline: none;
    background-image: linear-gradient(135deg,#db5200 0%,#ff2107 100%);
    background: #d15500;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    box-shadow: none !important;
    border-radius: 0px !important;
    font-weight: normal;
    /*border: 0px !important;
    border-bottom: 1px solid #d8d8d8 !important;*/
}

input:focus, select:focus {
    border-color: #ff690f !important;
}

.error {
    color: #e82110;
    font-size: 12px;
    float: left;
}

.page-wrapper {

}

.page-wrapper .inner-page-wrapper {
    padding-top: 50px;
}

