header {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: #fff;
    z-index: 1050;
    background: transparent;
}

header.solid {
	background: #333;
}

header .header-wrapper {
	height: 100%;
	width: 72%;
	margin: 0px auto;
	border-bottom: 2px solid rgba(255,255,255,0.2);
}

header.solid .header-wrapper {
	width: 90%
}

header .header-wrapper .logo-container {
	padding: 10px 0px;
	float: left;
}

header .header-wrapper .logo-container a {
	color: #fff;
	background: none;
	outline: none;
	text-decoration: none;
}

header .header-wrapper .logo-container a img {
	height: 25px;
}

header .header-wrapper .nav-container {
	float: left;
	padding: 0px 15px;
}

header .header-wrapper .nav-container .nav {
	list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 50px;
}

header .header-wrapper .nav-container .nav .nav-item {
	padding: 0px 15px;
	outline: none;
}

header .header-wrapper .nav-container .nav .nav-item a {
	padding: 0px;
	color: #fff;
	background: none;
	outline: none;
	text-decoration: none;
}

header .header-wrapper .nav-container .nav .nav-item a:hover, header .header-wrapper .nav-container .nav .nav-item a:focus {
	background: none;
	outline: none;
	text-decoration: none;
}

header .header-wrapper .nav-container .nav .nav-item a.active:after {
	content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
}

header.solid .header-wrapper .nav-container .nav .nav-item a.active:after {
	background: #ff690f;
}

header .header-wrapper .menu-container {
	float: right;
	text-align: right;
	line-height: 50px;
}

header .header-wrapper .menu-container a {
	cursor: pointer;
	color: #fff;
	background: none;
	outline: none;
	text-decoration: none;
}

header .header-wrapper .menu-container a:hover, header .header-wrapper .menu-container a:focus {
	background: none;
	outline: none;
	text-decoration: none;
}

header .header-wrapper .menu-container a i {
	margin-right: 10px;
}

header .header-wrapper .menu-container .nav {
	/*height: 32px;*/
	/*margin: 0px;*/
	/*padding: 0px;*/
	/*list-style: none;*/
	/*line-height: 32px;*/
}

header .header-wrapper .menu-container .nav .dropdown {
	float: left;
}

header .header-wrapper .menu-container .nav .dropdown .dropdown-toggle {
	padding: 0px;
	float: left;
}

header .header-wrapper .menu-container .nav .dropdown .dropdown-toggle .caret {
	display: none;
}

header .header-wrapper .menu-container .nav .dropdown .dropdown-toggle:focus, header .header-wrapper .menu-container .nav .dropdown .dropdown-toggle:hover {
	background: none;
}

header .header-wrapper .menu-container .nav .dropdown.open .dropdown-toggle {
	background: none;
}

header .header-wrapper .menu-container .nav .dropdown.open .dropdown-menu {
	right: 0px;
	left: auto;
	padding: 0px;
	display: inline-block;
	box-sizing: inherit;
	line-height: 24px;
	min-width: 220px;
	background-color: #FFF;
	box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
	outline: none;
	border: 0px;
	border-radius: 0px;
	margin-top: 0px;
}

header .header-wrapper .menu-container .nav .dropdown.open .dropdown-menu li.user-label {
	margin-top: 9px;
}

header .header-wrapper .menu-container .nav .dropdown.open .dropdown-menu li:focus {
	outline: none;
}

header .header-wrapper .menu-container .nav .dropdown.open .dropdown-menu li a {
	padding: 10px 20px;
	outline: none;
	color: #333;
	height: 56px;
	line-height: 36px;
	text-align: right;
}

header .header-wrapper .menu-container .nav .dropdown.open .dropdown-menu li a:hover {
	background: #ebebed;
}

#authModal {

}

#authModal .modal-dialog {
	width: 420px;
}

#authModal .modal-dialog .modal-content {
	border: 0px;
	border-radius: 0px;
}

#authModal .modal-dialog .modal-content .modal-body {
	padding: 60px 80px;
}

#authModal .modal-dialog .modal-content .modal-body .form-body .form-group {
	margin-bottom: 30px;
}

#authModal .modal-dialog .modal-content .modal-body .form-group.btn-container {
	margin-bottom: 0px;
}

#authModal .modal-dialog .modal-content .modal-body .form-group.btn-container .btn-kayak {
	width: 100%;
}

#authModal .modal-dialog .modal-content .modal-footer {
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e1e1e5;
	color: #8b8b8e;
}

#authModal .modal-dialog .modal-content .modal-footer .btn-kayak {
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	background-color: #fff;
	color: #8b8b8e;
	background-image: none;
	margin-left: 15px;
}