.checkout-page-wrapper {
    min-height: 100vh;
}

.checkout-page-wrapper .page-container {
    width: 90%;
    margin: 0px auto;
    padding: 15px 0px;
    position: relative;
}

.checkout-page-wrapper .page-container .steps-container {
    padding-right: 350px;
    width: 100%;
}

.checkout-page-wrapper .page-container .summary-container {
    width: 320px;
    position: absolute;
    right: 0px;
    top: 15px;
}

.checkout-page-wrapper .page-container .summary-container .checkout-btn-container .btn-kayak {
    width: 100%;
    height: 60px;
    font-size: 18px;
}
.checkout-page-wrapper .checkout-panel {
    background: #fff;
    margin-bottom: 15px;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-title {
    padding: 15px 30px;
    border-bottom: 1px solid #e4e5ea;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-title p {
    margin: 0px;
    font-size: 16px;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-body {
    padding: 30px;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-body.payment-body {

}

.checkout-page-wrapper .checkout-panel .checkout-panel-body.payment-body .radio {
    margin: 0px;
    margin-bottom: 15px;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-body.payment-body .radio.payment-method label {
    font-weight: 600;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-body.payment-body .credit-card-list {
    padding-left: 20px;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-body.payment-body .credit-card-list p {
    margin: 0px;
    margin-bottom: 15px;
    font-weight: normal;
}

.checkout-page-wrapper .checkout-panel .checkout-panel-body.payment-body .credit-card-form {
    padding-left: 20px;
    max-width: 400px;
}
