

.profile-panel  .profile-panel-body .past-booking-header{
	padding-bottom:  15px ;
}

.profile-panel  .profile-panel-body .past-booking-content .past-booking-content-list{
	padding: 15px 0px;
	font-weight: normal ;
	border-bottom: 1px solid #ccc;
}