.profile-panel .profile-panel-body{

}


.profile-panel  .profile-panel-body .past-booking-header{
	text-align: center;
	padding-bottom:  15px ;
	
	font-size: 15px
}


.profile-panel  .profile-panel-body .past-booking-content{
	text-align: center;
	padding-top: 15px ;
	padding-bottom: 15px ;
	
}



.profile-panel  .profile-panel-body .past-booking-content .past-booking-content-list{
	padding: 15px ; 
	font-size: 12px ;
	font-weight: normal ;
	border-bottom: 1px solid lightgrey
}